Source: symbiosis-crack
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cracklib2-dev
Standards-Version: 3.8.0

Package: symbiosis-crack
Replaces: bytemark-vhost-crack
Conflicts: bytemark-vhost-crack
Architecture: any
Depends: cracklib2
Description: Test the strength of virtual hosting passwords
 This package contains a simple script to test each virtual host
 password to ensure they are secure.
 .
 The passwords tested are:
 .
 * FTP passwords
 * IMAP passwords
 .
 The password strength testing is achieved via cracklib2.
