Source: symbiosis-crack
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), libcrack2-dev, cdbs
Standards-Version: 3.9.1

Package: symbiosis-crack
Replaces: bytemark-vhost-crack
Conflicts: bytemark-vhost-crack
Architecture: any
Depends: libcrack2, ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: Test the strength passwords for virtual hosts
 This package contains an automated tester which is designed to identify
 and report on any weak passwords which might be in use.
 .
 Two types of password are tested:
 .
 * FTP passwords
 * IMAP passwords
 .
 The password strength testing is achieved via cracklib2.
