#
#  GLobal
#
Release
Release.gpg
Packages
Sources
Packages.gz
Sources.gz
build-stamp
configure-stamp
*/debian/*.log
*/debian/*.substvars
*/debian/files
*/debian/*.debhelper
*/debian/check_file_copies/*
*/debian/transform_file_copies/*
*/man/*.man
*.deb
*.build
*.changes
*.dsc
*.tar.gz
*.tar.*
repo/*

#
#  Per-Package
#

#
#  httpd 
#
httpd/debian/libapache2-mod-vhost-bytemark
httpd/debian/symbiosis-httpd-static/
httpd/debian/symbiosis-httpd/
httpd/vhost-alias/mod_vhost_bytemark.la
httpd/vhost-alias/mod_vhost_bytemark.lo
httpd/vhost-alias/mod_vhost_bytemark.slo
httpd/vhost-alias/test-strip
httpd/vhost-alias/.libs/

#
#  Backup
#
backup/debian/symbiosis-backup/

#
#  Common
#
common/debian/symbiosis-common/
common/test.d/RootCA/ec8a87ff.0

#
#  Cron
#
cron/debian/symbiosis-cron/
cron/wrapper/symbiosis-all-crontabs

#
# Docs
#
doc/debian/symbiosis-api-doc/
doc/html/

#
#  DNS
#
dns/debian/symbiosis-dns/

#
#  Email
#
email/debian/symbiosis-email/
email/debian/symbiosis-email-activesync/

#
#  Firewall
#
firewall/ext/*.o
firewall/ext/*.so
firewall/ext/.RUBYARCHDIR.time
firewall/ext/Makefile
firewall/manpages/
firewall/debian/symbiosis-firewall/

#
#  FTP
#
ftpd/debian/symbiosis-ftpd/

#
#  Meta
#
meta/debian/bytemark-symbiosis/
meta/debian/symbiosis-pam/
meta/debian/symbiosis-key/

#
#  Monit
#
#
monit/debian/symbiosis-monit/

#
#  MySQL
#
mysql/debian/symbiosis-mysql/

#
#  PAM
#
pam/debian/symbiosis-pam/

#
#  PHPMyAdmin
#
phpmyadmin/debian/symbiosis-phpmyadmin/

#
#  Updater
#
updater/debian/symbiosis-updater/


#
#  Webmail
#
webmail/debian/symbiosis-webmail/
webmail/debian/symbiosis-webmail-squirrelmail/
webmail/debian/symbiosis-webmail-roundcube/

#
# XMPP
#
xmpp/debian/symbiosis-xmpp/
