Source: symbiosis-httpd
Section: web
Priority: optional
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), apache2-dev, libcap-dev, cdbs, config-package-dev, php5-common
Standards-Version: 3.9.1

Package: libapache2-mod-vhost-bytemark
Architecture: any
Depends: symbiosis-common (>= 2012:0117), apache2.2-common, ${shlibs:Depends}, ${misc:Depends}
Description: A mass-hosting module for Apache 2.x
 This module allows you to easily host multiple virtual hosts with
 a single simple configuration file.
 .
 This module is a fork of the official mod_vhost_alias module from
 the Apache project with only minor changes:
 .
 * Allows per vhost document root to be setup.
 * Allows domains to be handled with or without a www. prefix.


Package: libapache2-mod-ruid
Provides: symbiosis-ruid
Architecture: any
Depends: apache2.2-common, ${shlibs:Depends}, ${misc:Depends}, libcap2
Description: A per-uid module for Apache 2.x
 This module allows you to run PHP scripts, CGI scripts, and similar
 on a per-UID basis.
 .
 This can be used to securely isolate multiple virtual hosts from each
 other, especially if you have untrusted users.

Package: symbiosis-httpd
Replaces: bytemark-vhost-httpd
Conflicts: bytemark-vhost-httpd, symbiosis-monit (<< 2011:1206)
Architecture: all
Depends: apache2, php5-mysql, php5-curl, php5-imagick, php5-mcrypt, php5-mhash, php5-xmlrpc, php5-gd, libapache2-mod-php5, webalizer, libapache2-mod-vhost-bytemark, ${misc:Depends}, symbiosis-httpd-static, symbiosis-common (>= 2012:0117)
Description: Tools to manage Apache virtual hosting
 This package contains tools to manage the virtual hosting of websites
 with Apache2.
 .
 When this package is installed your system will be automatically
 configured to serve websites for multiple domains by the creation
 of only a pair of directories.
 .
 Adding new websites doesn't even require you to restart your server.


Package: symbiosis-httpd-static
Depends: ${misc:Depends}
Architecture: all
Description: Static files
 This package contains the static welcome page for the Bytemark Symbiosis
 system.

