#!/usr/bin/make -f
#

DEB_DIVERT_EXTENSION = .dpkg-symbiosis
DEB_TRANSFORM_FILES_symbiosis-httpd += /etc/php5/apache2/php.ini.dpkg-symbiosis
DEB_TRANSFORM_FILES_symbiosis-httpd += /etc/apache2/ports.conf.dpkg-symbiosis
DEB_TRANSFORM_FILES_symbiosis-httpd += /etc/apache2/conf.d/security.dpkg-symbiosis

ifneq ($(wildcard /usr/share/php5/php.ini-production),)
	DEB_CHECK_FILES_SOURCE_/etc/php5/apache2/php.ini.dpkg-symbiosis = \ /usr/share/php5/php.ini-production
endif

%:
	dh $@

build/symbiosis-httpd::
	make docs

cleanbuilddir/symbiosois-httpd::
	make clean

build/libapache2-mod-vhost-bytemark::
	cd vhost-alias && make

cleanbuilddir/libapache2-mod-vhost-bytemark::
	cd vhost-alias && make clean

