#
#  Nameserver records.
#
.$domain::a.ns.bytemark.co.uk
.$domain::b.ns.bytemark.co.uk
.$domain::c.ns.bytemark.co.uk

#
#  The domain name itself
#
=$domain:$ip

#
#  Useful aliases.
#
+ftp.$domain:$ip:300
+www.$domain:$ip:300

#
#  MX record
#
@$domain:$ip:mx.$domain:15:300

