Source: symbiosis-backup
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0

Package: symbiosis-backup
Provides: bytemark-vhost-simple-backup
Architecture: all
Depends: backup2l, ${misc:Depends}
Description: Automatically backup your files
 This package configures backup2l to backup your data.
 .
 This backup won't protect you against system failure, but will prevent
 you from accidental deletions, etc.
 .
 If you're running upon a Bytemark system this package will also configure
 remote backups.
