Source: symbiosis-backup
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1

Package: symbiosis-backup
Replaces: bytemark-vhost-simple-backup
Conflicts: bytemark-vhost-simple-backup
Provides: bytemark-vhost-simple-backup
Architecture: all
Depends: backup2l, ruby, ruby1.8, symbiosis-common (>>2011:1216), ${misc:Depends}
Recommends: libmysql-ruby1.8, libpgsql-ruby1.8
Description: Automatically backup your files
 This package configures backup2l to backup your data.
 .
 This backup won't protect you against system failure, but will prevent
 you from accidental deletions, etc.
 .
 If you're running upon a Bytemark system this package will also configure
 remote backups.
