Source: symbiosis-httpd
Section: web
Priority: optional
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), apache2-prefork-dev, libcap-dev, php5-common, txt2man, gem2deb, ruby
Standards-Version: 3.9.1
XS-Ruby-Versions: all

Package: libapache2-mod-vhost-bytemark
Architecture: any
Depends: apache2.2-common, ${shlibs:Depends}, ${misc:Depends}
Description: A mass-hosting module for Apache 2.x
 This module allows you to easily host multiple virtual hosts with
 a single simple configuration file.
 .
 This module is a fork of the official mod_vhost_alias module from
 the Apache project with only minor changes:
 .
 * Allows per vhost document root to be setup.
 * Allows domains to be handled with or without a www. prefix.

Package: symbiosis-httpd
Architecture: all
Depends: apache2, php5-mysql, php5-curl, php5-imagick, php5-mcrypt, php5-mhash, php5-xmlrpc, php5-gd, libapache2-mod-php5, webalizer, libapache2-mod-vhost-bytemark, ${misc:Depends}, symbiosis-httpd-static, symbiosis-common (>= 2014:0101), ruby | ruby-interpreter, ruby-eventmachine, geoip-database
Replaces: bytemark-vhost-httpd, symbiosis-test, symbiosis-monit (<< 2011:1206), symbiosis-httpd-static
Breaks: symbiosis-monit (<< 2011:1206)
Provides: bytemark-vhost-httpd, symbiosis-httpd-static
Conflicts: bytemark-vhost-httpd, symbiosis-httpd-static, symbiosis-test
Description: Tools to manage Apache virtual hosting in Symbiosis
 This package contains tools to manage the virtual hosting of websites
 with Apache2.
 .
 When this package is installed your system will be automatically
 configured to serve websites for multiple domains by the creation
 of only a pair of directories.
 .
 Adding new websites doesn't even require you to restart your server.

