Source: symbiosis-phpmyadmin
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0
Bugs: https://projects.bytemark.co.uk/projects/bytemarkvhost/issues

Package: symbiosis-phpmyadmin
Provides: bytemark-vhost-phpmyadmin
Architecture: all
Depends: phpmyadmin, symbiosis-mysql, ${misc:Depends}
Description: This package gives remote database access
 This package will enable a global MySQL administrative interface
 which may be used remotely.
 .
 Note:  You should ensure that you setup a root password for your
 MySQL database prior to installing this package.
