Source: symbiosis-pam
Section: admin
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1

Package: symbiosis-pam
Replaces: bytemark-vhost-pam
Conflicts: bytemark-vhost-pam
Architecture: all
Depends: libpam-tmpdir, wbritish, libpam-cracklib, ${misc:Depends}
Description: PAM configuration metapackage
 This package is a metapackage which will configure and control the
 basic PAM setup of your machine.
 .
 Once installed this package will mandate the minimum password standards
 required to improve system security.
