Source: symbiosis-range
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man
Standards-Version: 3.9.1

Package: symbiosis-range
Replaces: bytemark-vhost-range
Conflicts: bytemark-vhost-range
Architecture: all
Depends: ruby, ${misc:Depends}
Description: Determine whether an IP is within Bytemark's range
 This package contains a simple tool to test whether an IP address
 is within a Bytemark allocated range.
