Source: symbiosis-wordpress
Section: web
Priority: optional
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0

Package: symbiosis-wordpress
Architecture: all
Depends: wordpress (>= 3.0.4), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: symbiosis-common
Description: Wordpress package to allow Symbiosis users to easily add sites
 Allows simple installation of Wordpress sites under /srv for new domains.


