[Unit]
Description=Symbiosis monitor
OnFailure=symbiosis-monit-failure-email.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'journalctl -o cat -n 0 -u %n --show-cursor | cut -f3 -d" " > /var/tmp/symbiosis-monit.cursor'
ExecStart=+/usr/sbin/symbiosis-monit -t email /etc/symbiosis/monit.d
User=nobody
Group=nobody
