Source: symbiosis-httpd-logger
Section: unknown
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>=9), dh-golang, golang-go (>= 1.5.1)
Standards-Version: 3.9.4

Package: symbiosis-httpd-logger
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends}
Architecture: any
Description: golang based logging process.
  .
  This package replaces the original/default ruby-based logging process
  which is executed by Apache, with the intention of saving RAM.
