Source: symbiosis-key
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1

Package: symbiosis-key
Replaces: bytemark-vhost-key
Conflicts: bytemark-vhost-key
Provides: bytemark-vhost-key
Architecture: all
Depends: gnupg, ${misc:Depends}
Description: The Bytemark Debian package-signing key
 This package contains a key which may be used to validate the signature
 of the Bytemark Symbiosis repository.
 .
 Once installed this package will prevent any signature warnings about the
 Bytemark Symbiosis packages.
