Source: symbiosis-key
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0

Package: symbiosis-key
Replaces: bytemark-vhost-key
Conflicts: bytemark-vhost-key
Architecture: all
Depends: gnupg, ${misc:Depends}
Description: The Bytemark Debian package-signing key
 This package contains a key which may be used to validate the signature
 of the Bytemark Virtual Hosting repository.
 .
 Once installed there will be no further warnings about the signature
 of the bytemark packages.
