[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/bytemark-symbiosis
Description=LSB: Alerts the user that the system is using Bytemark Symbiosis.
Before=multi-user.target
Before=multi-user.target
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=sshd.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/bytemark-symbiosis start
ExecStop=/etc/init.d/bytemark-symbiosis stop
ExecReload=/etc/init.d/bytemark-symbiosis reload
StandardOutput=tty
