Source: bytemark-vhost
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.8.0

Package: bytemark-symbiosis
Provides: bytemark-vhost
Architecture: all
Depends: bytemark-vhost-crack, bytemark-vhost-email, bytemark-vhost-firewall, bytemark-vhost-ftpd, bytemark-vhost-httpd, bytemark-vhost-key, bytemark-vhost-monit, bytemark-vhost-mysql, bytemark-vhost-pam, bytemark-vhost-phpmyadmin, bytemark-vhost-simple-backup, bytemark-vhost-test, bytemark-vhost-tinydns, bytemark-vhost-updater, bytemark-vhost-webmail
Description: The bytemark virtual hosting system
 This package is a metapackage which will pull in each package which
 is a component of the Bytemark virtual hosting system.
 .
 Installing this package will completely configure your system for
 the virtual hosting of multiple domains with:
 .
  * Webhosting
  * FTP hosting.
  * Email hosting (and webmail).
