Source: bytemark-symbiosis
Section: web
Priority: extra
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>, Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.6

Package: bytemark-symbiosis
Architecture: all
Depends: symbiosis-key (>= 2012:0813),
  symbiosis-updater (>= 2014:0113),
  lsb-base (>= 3.0-6),
  ${misc:Depends}
Recommends: symbiosis-backup (>= 2014:0113),
  symbiosis-common (>= 2014:0113),
  symbiosis-cron (>= 2014:0113),
  symbiosis-email (>= 2014:0113),
  symbiosis-firewall (>= 2014:0113),
  symbiosis-ftpd (>= 2014:0113),
  symbiosis-httpd (>= 2014:0113),
  symbiosis-monit (>= 2014:0113),
  symbiosis-mysql (>= 2014:0113),
  symbiosis-pam (>= 2014:0113),
  symbiosis-phpmyadmin (>= 2014:0113),
  symbiosis-dns (>= 2014:0113),
  symbiosis-webmail (>= 2014:0113),
  symbiosis-xmpp (>= 2014:0113),
  openssh-server
Description: Easy, complete, and Debian-friendly server administration system
 This package is a metapackage which will pull in each package which
 is a component of the Bytemark Symbiosis system.
 .
 Installing this package will completely configure your system for
 the virtual hosting of multiple domains with:
 .
  * Webhosting
  * FTP hosting.
  * Email hosting (and webmail).

Package: symbiosis-pam
Architecture: all
Depends: libpam-tmpdir, wbritish | wordlist, libpam-cracklib, ${misc:Depends}
Description: PAM configuration metapackage for Sybmbiosis
 This is a metapackage which depends on the various PAM modules to help
 maintain your machine's security.
 .
 Currently it enforces checks for weak passwords, against libcrack, and
 per-user temporary directories, using pam-tmpdir.
