Source: bytemark-symbiosis
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0

Package: bytemark-symbiosis
Provides: bytemark-vhost
Architecture: all
Depends: symbiosis-crack, symbiosis-email, symbiosis-firewall, symbiosis-ftpd, symbiosis-httpd, symbiosis-key, symbiosis-monit, symbiosis-mysql, symbiosis-pam, symbiosis-phpmyadmin, symbiosis-simple-backup, symbiosis-test, symbiosis-tinydns, symbiosis-updater, symbiosis-webmail, ${misc:Depends}
Description: An easy, complete, and Debian-friendly server administration system
 This package is a metapackage which will pull in each package which
 is a component of the Bytemark Symbiosis system.
 .
 Installing this package will completely configure your system for
 the virtual hosting of multiple domains with:
 .
  * Webhosting
  * FTP hosting.
  * Email hosting (and webmail).

Package: bytemark-vhost
Architecture: all
Depends: bytemark-symbiosis, ${misc:Depends}
Description: An easy, complete, and Debian-friendly server administration system
 This package is present to ease the renaming transition and can safely be
 removed.
 .
 (meta package)


