Source: symbiosis-email
Section: mail
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 4.0.0), rdoc, txt2man, cdbs, perl
Standards-Version: 3.8.0

Package: symbiosis-email
Architecture: all
Depends: exim4-daemon-heavy, spamassassin, dovecot-imapd, dovecot-pop3d, clamav-daemon, ruby, perl, libsys-syslog-perl, adduser, make, rdoc
Provides: bytemark-vhost-email
Description: A complete virtual hosting solution for email
 This package contains the infrastructure and configuration for a
 virtual hosting setup with full support for:
 .
  * Virtual Hosting
  * Address Rewriting
  * IMAP + IMAPS
  * POP3 + POP3S
  * SMTP

