[Unit]
Description=Symbiosis: email dict proxy

[Service]
Type=simple
ExecStart=/usr/sbin/symbiosis-email-dict-proxy --foreground
Restart=always

[Install]
WantedBy=multi-user.target
