Source: symbiosis-api-doc
Section: doc
Priority: extra
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>, Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.6

Package: symbiosis-api-doc
Architecture: all
Depends: ${misc:Depends}
Description: API documentation for Symbiosis
