Source: symbiosis-webmail
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1
Bugs: https://projects.bytemark.co.uk/projects/symbiosis/issues

Package: symbiosis-webmail
Architecture: all
Depends: symbiosis-webmail-squirrelmail | symbiosis-webmail-roundcube, ${misc:Depends}
Replaces: bytemark-vhost-webmail
Provides: bytemark-vhost-webmail
Conflicts: bytemark-vhost-webmail
Description: This package gives webmail access to a Symbiosis system
 This package will enable a global webmail system for all domains hosted
 using the Bytemark Symbiosis system.

Package: symbiosis-webmail-squirrelmail
Architecture: all
Depends: squirrelmail, ${misc:Depends}
Recommends: symbiosis-webmail, avelsieve
Description: This package gives webmail access to Symbiosis using Squirrelmail
 This package will enable a global webmail system for all domains hosted
 using the Bytemark system.
 .
 This is a metapackage that implements webmail using the Squirrelmail system.


Package: symbiosis-webmail-roundcube
Architecture: all
Depends: roundcube (>= 0.5.4), roundcube-core (>= 0.5.4), roundcube-mysql (>= 0.5.4), ${misc:Depends}
Recommends: symbiosis-webmail
Description: This package gives webmail access to Symbiosis using Roundcube
 This package will enable a global webmail system for all domains hosted
 using the Bytemark system.
 .
 This is a metapackage that implements webmail using the Roundcube system.



