Source: symbiosis-webmail
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0
Bugs: https://projects.bytemark.co.uk/projects/bytemarkvhost/issues

Package: symbiosis-webmail
Replaces: bytemark-vhost-webmail
Conflicts: bytemark-vhost-webmail
Architecture: all
Depends: squirrelmail, ${misc:Depends}
Description: This package gives webmail access
 This package will enable a global webmail system for all domains hosted
 using the Bytemark system.
 .
 The webmail is provided by the squirrelmail project.
