Source: bytemark-vhost-webmail
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.8.0

Package: bytemark-vhost-webmail
Architecture: all
Depends: squirrelmail
Description: This package gives webmail access
 This package will enable a global webmail system for all domains hosted
 using the Bytemark system.
 .
 The webmail is provided by the squirrelmail project.