Source: symbiosis-common
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man, perl, perl-modules
Standards-Version: 3.9.1

Package: symbiosis-common
Architecture: all
Depends: ruby, perl, perl-modules, libopenssl-ruby, ${misc:Depends}
Provides: symbiosis-range, symbiosis-test
Replaces: bytemark-vhost-range, bytemark-vhost-test
Conflicts: symbiosis-range, symbiosis-test, bytemark-vhost-range, bytemark-vhost-test
Description: Common library functions for Bytemark Symbiosis
 This package contains shared code and scripts for use by the
 Symbiosis system.
 .
