Source: symbiosis-common
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man, ruby1.8
Standards-Version: 3.9.1

Package: symbiosis-common
Architecture: all
Depends: ruby1.8, libopenssl-ruby, liblinux-netlink-ruby, ${misc:Depends}
Replaces: symbiosis-firewall (<< 2011:1214), symbiosis-range, symbiosis-test, bytemark-vhost-range, bytemark-vhost-test
Breaks: symbiosis-firewall (<< 2011:1214)
Conflicts: symbiosis-range, symbiosis-test, bytemark-vhost-range, bytemark-vhost-test
Provides: symbiosis-range, symbiosis-test, bytemark-vhost-range, bytemark-vhost-test
Description: Common library functions for Bytemark Symbiosis
 This package contains shared code and scripts for use by the
 Symbiosis system.
 .
