Source: symbiosis-common
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man, perl, perl-modules
Standards-Version: 3.8.0

Package: symbiosis-common
Architecture: all
Depends: ruby, perl, perl-modules
Provides: symbiosis-range
Replaces: bytemark-vhost-range
Conflicts: symbiosis-range, bytemark-vhost-range
Description: Common library functions for Bytemark Symbiosis
 This package contains shared code and scripts for use by the
 Symbiosis system.
 .
