Source: symbiosis-dns
Section: net
Priority: extra
Maintainer: James Carter <jcarter@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>, Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), gem2deb, txt2man, ruby
Standards-Version: 3.9.6
XS-Ruby-Versions: all

Package: symbiosis-dns
Architecture: all
Depends: rsync, wget, unzip, ruby-interpreter, symbiosis-common (>= 2014:0113), ${misc:Depends}
Replaces: symbiosis-tinydns
Conflicts: symbiosis-tinydns
Provides: symbiosis-tinydns
Description: Automatic DNS record creation and uploading for Bytemark customers
 This package contains tools to create TinyDNS files which may be uploaded
 to the Bytemark DNS host.
 .
 The generated TinyDNS files will be automatically uploaded to the Bytemark
 content DNS service, where they will be visible and may be queried directly
 via:
 .
   * a.ns.bytemark.co.uk
 .
   * b.ns.bytemark.co.uk
 .
   * c.ns.bytemark.co.uk
 .
