#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	dh_installdirs
	cp create-dns `pwd`/debian/bytemark-vhost-tinydns/etc/cron.hourly/
	cp bytemark.dns.template `pwd`/debian/bytemark-vhost-tinydns/etc/bytemark-vhost/dns.d/template
	chmod 755 `pwd`/debian/bytemark-vhost-tinydns/etc/cron.hourly/create-dns
	cp bug.report `pwd`/debian/bytemark-vhost-tinydns/usr/share/bug/bytemark-vhost-tinydns/control

	cp is-bytemark-ip `pwd`/debian/bytemark-vhost-tinydns/usr/bin/
	chmod 755 `pwd`/debian/bytemark-vhost-tinydns/usr/bin/is-bytemark-ip
	cp -R ./exim4/bytemark-vhost.d `pwd`/debian/bytemark-vhost-tinydns/etc/exim4/
#	pod2man ./create-dns > `pwd`/debian/bytemark-vhost-tinydns/usr/share/man/man1/create-dns.1
#	gzip -9 `pwd`/debian/bytemark-vhost-tinydns/usr/share/man/man1/create-dns.1
#	pod2man ./is-bytemark-ip > `pwd`/debian/bytemark-vhost-tinydns/usr/share/man/man1/is-bytemark-ip.1
#	gzip -9 `pwd`/debian/bytemark-vhost-tinydns/usr/share/man/man1/is-bytemark-ip.1

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
