Source: symbiosis-mysql
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, po-debconf
Standards-Version: 3.9.1

Package: symbiosis-mysql
Replaces: bytemark-vhost-mysql
Conflicts: bytemark-vhost-mysql, symbiosis-monit (<< 2011:1206)
Architecture: all
Depends: mysql-server-5.1, debconf, ${misc:Depends}
Pre-Depends: symbiosis-common
Description: A metapackage for MySQL
 This package ensures that the MySQL database will have a password setup.
 .
 Without this package installed the PHPMyAdmin package will be uninstallable.
