Source: symbiosis-mysql
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.8.0

Package: symbiosis-mysql
Replaces: bytemark-vhost-mysql
Conflicts: bytemark-vhost-mysql
Architecture: all
Depends: mysql-server, debconf, ${misc:Depends}
Description: A metapackage for MySQL
 This package ensures that the MySQL database will have a password setup.
 .
 Without this package installed the PHPMyAdmin package will be uninstallable.
