Source: symbiosis-updater
Section: web
Priority: extra
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.1

Package: symbiosis-updater
Replaces: bytemark-vhost-updater
Conflicts: bytemark-vhost-updater, cron-apt
Provides: bytemark-vhost-updater
Architecture: all
Depends: ${misc:Depends}
Description: Automatic package upgrades
 This package contains a helper which will automatically apply security
 and vhost package updates once a day.
 .
 It replaces the prior use of cron-apt, which could fail at times.
