Source: symbiosis-monit
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), txt2man, cdbs
Standards-Version: 3.8.0

Package: symbiosis-monit
Replaces: bytemark-vhost-monit
Conflicts: bytemark-vhost-monit, monit
Architecture: all
Depends: ruby, cron, libsqlite3-ruby1.8, liblog4r-ruby1.8, ${misc:Depends}
Description: Service monitoring and restarting
 This package configures your server to include monitoring, so that
 failed services are restarted automatically.
 .
 The monitoring is triggered by cron, and will mail output on failure.
