Source: symbiosis-monit
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), txt2man, cdbs, ruby1.8
Standards-Version: 3.9.1

Package: symbiosis-monit
Architecture: all
Depends: ruby1.8, cron, libsqlite3-ruby1.8, liblog4r-ruby1.8, procps, symbiosis-common (>= 2012:0117), ${misc:Depends}
Replaces: bytemark-vhost-monit
Conflicts: bytemark-vhost-monit
Provides: bytemark-vhost-monit
Description: Service monitoring and restarting
 This package configures your server to include monitoring, so that
 failed services are restarted automatically.
 .
 The monitoring is triggered by cron, and will mail output on failure.
