Source: symbiosis-firewall
Section: net
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man, ruby-pkg-tools, ruby-dev, ruby1.8-dev
Standards-Version: 3.9.1

Package: symbiosis-firewall
Architecture: any
Depends: iptables, ruby, ruby1.8, symbiosis-common (>= 2011:1214), libruby1.8, libsqlite3-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Replaces: bytemark-vhost-ssh-protection, bytemark-vhost-firewall
Conflicts: symbiosis-test, symbiosis-monit (<< 2011:1206)
Description: A simple firewall generator for the Bytemark vhost system
 This package contains a firewall generator which makes it simple to restrict
 the incoming and outgoing connections a machine is permitted to accept or
 initiate.
 .
 The firewall also allows the user to restrict the abilities of the
 www-data user  which will ensure that any PHP, or website, compromises
 do not propogate.
