Source: symbiosis-firewall
Section: net
Priority: extra
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>, Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), gem2deb, txt2man, ruby, ruby-dev
Standards-Version: 3.9.6
XS-Ruby-Versions: all

Package: symbiosis-firewall
Architecture: any
Depends: iptables, ruby, symbiosis-common (>= 2014:0113), libruby, ruby-sqlite3, incron, ${shlibs:Depends}, ${misc:Depends}
Replaces: bytemark-vhost-firewall, symbiosis-test, symbiosis-monit (<< 2011:1206)
Breaks: symbiosis-monit (<< 2011:1206)
Provides: bytemark-vhost-firewall
Conflicts: bytemark-vhost-firewall, symbiosis-test
Description: Symbiosis firewall generator
 This package contains a firewall generator which makes it simple to restrict
 the incoming and outgoing connections a machine is permitted to accept or
 initiate.
 .
 The firewall also allows the user to restrict the abilities of the
 www-data user  which will ensure that any PHP, or website, compromises
 do not propogate.
