Source: symbiosis-ftpd
Section: web
Priority: extra
Maintainer: Patrick J Cherry <patrick@bytemark.co.uk>
Uploaders: John Hackett <john.hackett@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), gem2deb, ruby, pure-ftpd-common, config-package-dev
Standards-Version: 3.9.1
XS-Ruby-Versions: all

Package: symbiosis-ftpd
Architecture: all
Depends: pure-ftpd, ${misc:Depends}, symbiosis-common (>= 2014:0113), procps, ruby1.8, libruby1.8, symbiosis-common
Replaces: bytemark-vhost-ftpd, symbiosis-monit (<< 2011:1206), symbiosis-test
Breaks: symbiosis-monit (<< 2011:1206)
Conflicts: bytemark-vhost-ftpd, symbiosis-test
Provides: bytemark-vhost-ftpd
Description: Tools to manage FTP virtual hosting
 This package contains tools to FTP access to any virtual hosts which
 have been setup with the bytemark packges.
 .
 When this package is installed your system will be automatically
 configured to allow FTP access to your websites.

