Source: symbiosis-ftpd
Section: web
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Uploaders: Patrick J Cherry <patch@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.8.0

Package: symbiosis-ftpd
Replaces: bytemark-vhost-ftpd
Conflicts: bytemark-vhost-ftpd
Architecture: all
Depends: pure-ftpd, ${misc:Depends}
Pre-Depends: symbiosis-common
Description: Tools to manage FTP virtual hosting
 This package contains tools to FTP access to any virtual hosts which
 have been setup with the bytemark packges.
 .
 When this package is installed your system will be automatically
 configured to allow FTP access to your websites.

